---
layout: default
title: Home
---
{% assign resources = site.posts | where:"type", "resource" %}
{% assign fangames = site.posts | where:"type", "fangame" %}

<div class="index_1">
  <p class="index_latest_updates">Latest updates</p>

  <div class="box shadow" style="width: 390px;">
    <div class="box_header">
      <h3>Resources</h3>
    </div>
    <ul class="index_ul">
      {% for post in resources %}
      <li>
        <div class="index_tag {{ post.tag }}">{{ post.tag }}</div>
        <a href="{{ site.url }}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>


  <div class="box shadow" style="width: 390px;">
    <div class="box_header">
      <h3>Fangames</h3>
    </div>

    <ul class="index_ul">
      {% for post in fangames %}
      <li>
      <a href="{{ site.url }}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<br>

<div class="index_1">
  <p class="index_latest_updates">What are you looking for?</p>

  <div class="box" style="width: 250px;padding: 10px;text-align: center;font-weight: bold;">
    <a>Resources</a>
  </div>
  <div class="box" style="width: 250px;padding: 10px;text-align: center;font-weight: bold;">
    <a>Fangames</a>
  </div>
  <div class="box" style="width: 250px;padding: 10px;text-align: center;font-weight: bold;">
    <a>Contributing</a>
  </div>
</div>