// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  background: white;
  width: 900px;
  max-width: 100%; // Support for phone users
  margin-right: auto;
  margin-left: auto;
}

.content {
  padding: 30px;
}

footer {
  background: #333;
  color: white;
  padding: 20px 30px;
}
