// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  background: white;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}
